@charset "utf-8";

body {
    font-size: 14px;
    font-family: Meiryo, 'メイリオ', sans-serif;
    color: #333333;
}

a {
    color: #333333;
    text-decoration: none;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-left: 5px solid #00A5B9;
    background: #F7F7F7;
}

h2 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #00A5B9;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}



/* ヘッダーエリア */
header, header a {
    font-size: 12px;
    color: #fff !important;
    word-break: break-word;
}

header a:hover {
    color: #4FC1CF !important;
}

ul li.opacity:hover {
    opacity: 0.7 !important;
}

/* グローバルメニュー */
.navbar-inverse {
    background: #00A5B9;
    padding: 7px 0;
    border-color: #00A5B9;
}

.navbar-inverse a {
    color: #fff;
}

.header-logo {
    text-align: center !important;
}

.glyphicon-cloud {
    text-align: center;
    padding-top: 5px;
    padding-right: 7px;
}


/* サイドバーエリア */
aside ul li {
    list-style: none;
}

aside ul li a {
    text-decoration: underline;
    list-style: none;
}

aside ul li a:hover {
    text-decoration: none;
}

aside h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.customer {
    border: 3px solid #00A5B9;
    background: #E4F3F4;
}

.user li a{
    font-size: 15px;
    color: #7C7D7E;
    text-decoration: underline;
}

.user li a:hover {
    text-decoration: none;
}

.user2 {
    text-align: center;
    padding: 10px 15px 0 0;
}



.mypage ul {
    list-style: none;
}

.mypage {
    text-align: center;
    padding-top: 10px;
}


.mypage-btn:hover {
    opacity: 0.5;   
}

.right-commerce {
    margin: 20px 0;
    text-align: center;
}

.lazy {
    padding: 10px 0;
}

.lazy:hover {
    opacity: 0.7;
}


/* メインエリア */
.plan-image:hover {
    opacity: 0.5;
}

.top-plan {
    padding-top: 10px;
}

table th, table td{
    text-align: center;
}

.pagination {
    width: 100%;
    margin: 0 auto;
}
/* フッターエリア */
#footer ul {
    padding-top: 25px;
    list-style: none;
    text-align: center;
}

#footer ul li {
    display: inline-block;
}


#footer ul li a {
    color: #fff !important;
    font-size: 11px;
    padding: 10px;
}

.fnav {
    background-image: url('/images/background-img.png');
    padding-top: 200px;
}

#footer {
    margin-top: 12px;
    background: #282828;
    padding: 0 0 30px 0;
}

small p {
    color: #fff;
    text-align: center;
}

.footer-logo {
    color: #1AA5B8;
    font-size: 17px;
}

.footer-logo:hover {
    color: #10737F;
}

#footer p {
    text-align: center;
}

#footer ul li a {
    text-decoration: none;
}

#footer ul li a:hover {
    color: #696969 !important;
}

.item {
    color: #00A5B9;
    font-size: 8px;
    padding-right:4px;
}

.item:hover {
    color: #126C78;
}



/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #fff;
    font-weight: bold;
    background: #00A6BA;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 30px;
    z-index: 99;
}
.slick-prev {
     left: 30px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/*スライド画像の横幅可変*/
.img-slide {
    min-width: 100%;
     height: 387px;
}

